@model Accident
@ViewData["Title"] = "Accident Details"

<div class="container w-75">
    <div class="row">
        <div class="col">
            <div class="padding-accident">
                <div class="bg-light p-1">

                    @if (@Model.Crash_Severity_Id == 1 | @Model.Crash_Severity_Id == 2)
                    {
                        <p class="badge bg-info float-right">
                            Crash Severity: @Model.Crash_Severity_Id
                        </p>
                    }
                    else if (@Model.Crash_Severity_Id == 3 | @Model.Crash_Severity_Id == 4)
                    {
                        <p class="badge bg-warning float-right">
                            Crash Severity: @Model.Crash_Severity_Id
                        </p>
                    }
                    else
                    {
                        <p class="badge bg-danger float-right">
                            Crash Severity: @Model.Crash_Severity_Id
                        </p>
                    }

                    <p class="badge bg-info float-right">
                        Predicted Severity: @ViewBag.predictedSeverity
                    </p>
                    <h2>ACCIDENT: @Model.Crash_ID </h2>
                    <p>
                        @Model.Crash_DT
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row padding-accident">
        <div class="col">
            <table>
                <tr>
                    <th>Main Road:</th>
                    <td>@Model.Main_Road_Name</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <th>County Name:</th>
                    <td>@Model.County_Name</td>
                </tr>
                <tr>
                    <th>Route:</th>
                    <td>@Model.Route</td>
                </tr>
                <tr>
                    <th>Mile Point:</th>
                    <td>@Model.MilePoint</td>
                </tr>
                <tr>
                    <th>Latitude:</th>
                    <td>@Model.Latitude</td>
                </tr>
                <tr>
                    <th>Longitude:</th>
                    <td>@Model.Longitude</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="/admin/edit-accident/@Model.Crash_ID">Edit Accident Details</a>
        </div>
        <div class="col">
            <img src="@ViewBag.mapsUrl" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div>
                <h2 >Conditions</h2>

                <table>
                    <tr>
                        @if (Model.Work_Zone_Related == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue"  /> Work Zone Related </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled"  /> Work Zone Related </td>
                        }

                        @if (Model.Pedestrian_Involved == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue"/> Pedestrian Involved </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Pedestrian Involved </td>
                        }

                        @if (Model.Bicyclist_Involved == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Bicyclist Involved </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" />  Bicyclist Involved </td>
                        }

                        @if (Model.Motorcycle_Involved == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Motorcycle Involved </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Motorcycle Involved </td>
                        }

                        @if (Model.Improper_Restraint == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Improper Restraint </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Improper Restraint </td>
                        }
                    </tr>
                    <tr>
                        @if (Model.Unrestrained == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Unrestrained </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Unrestrained </td>
                        }
                        @if (Model.DUI == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> DUI </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> DUI </td>
                        }
                        @if (Model.Intersection_Related == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Intersection </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Intersection </td>
                        }
                        @if (Model.Wild_Animal_Related == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Wild Animal Related </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Wild Animal Related </td>
                        }
                        @if (Model.Domestic_Animal_Related == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Domestic Animal Related </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Domestic Animal Related </td>
                        }
                    </tr>
                    <tr>
                        @if (Model.Overturn_Rollover == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Overturn Rollover </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Overturn Rollover</td>
                        }
                        @if (Model.Commercial_Motor_Veh_Involved == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Commercial Vehicle Involved</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Commerical Vehicle Involved</td>
                        }
                        @if (Model.Teenage_Driver_Involved == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue"/> Teenage Driver Involved</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Teenage Driver Involved</td>
                        }

                        @if (Model.Older_Driver_Involved == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Older Driver Involved</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Older Driver Involved</td>
                        }

                        @if (Model.Night_Dark_Condition == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Night/Dark Conditions</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Night/Dark Conditions</td>
                        }
                    </tr>
                    <tr>
                        @if (Model.Single_Vehicle == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Single Vehicle</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Single Vehicle</td>
                        }

                        @if (Model.Distracted_Driving == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Distracted Driving</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Distracted Driving</td>
                        }

                        @if (Model.Drowsy_Driving == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Drowsy Driving </td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Drowsy Driving </td>
                        }

                        @if (Model.Roadway_Departure == true)
                        {
                            <td><input type="checkbox" disabled="disabled" checked="checked" class="color-blue" /> Roadway Departure</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled="disabled" /> Roadway Departure</td>
                        }
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>



