@model AccidentsViewModel

<div>
    <div class="row m-0 p-0">
        <div class="col-3 filter-col">
            <h2>Filtering</h2>
            <div class="filter-table-div">
                <table class="filter-table-table">
                    <thead class="filter-table-thead">
                        <tr class="filter-table-trthead">
                            <th class="filter-table-th">County</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.PageInfo.CountyFilterQueries)
                        {
                            <tr class="filter-table-trtbody">
                                <td class="filter-table-th @(c.Key == Model.PageInfo.SelectedCounty ? "bg-primary" : "")"><a asp-controller="Home" asp-action="Search" asp-all-route-data="@c.Value">@c.Key</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

                <br />

            <div class="filter-table-div">
                <table class="filter-table-table">
                    <thead class="filter-table-thead">
                        <tr class="filter-table-trthead">
                            <th class="filter-table-th">City</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.PageInfo.CityFilterQueries)
                        {
                            <tr class="filter-table-trtbody">
                                <td class="filter-table-th @(c.Key == Model.PageInfo.SelectedCity ? "bg-primary" : "")"><a asp-controller="Home" asp-action="Search" asp-all-route-data="@c.Value">@c.Key</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <br />

            <div class="filter-table-div">
                <table class="filter-table-table">
                    <thead class="filter-table-thead">
                        <tr class="filter-table-trthead">
                            <th class="filter-table-th">Severity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.PageInfo.SeverityFilterQueries)
                        {
                            <tr class="filter-table-trtbody">
                                <td class="filter-table-th @(c.Key == Model.PageInfo.SelectedSeverity ? "bg-primary" : "")"><a asp-controller="Home" asp-action="Search" asp-all-route-data="@c.Value">@c.Key</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a asp-controller="Home" asp-action="Search" class="btn btn-lg btn-outline-primary align-self-center mt-3">Clear Filters</a>
        </div>
        <div class="col m-0 p-0 list-col">
            <div class="row head-row">
                <div class="col-1">ID</div>
                <div class="col-4">Main Road Name</div>
                <div class="col-2">City</div>
                <div class="col-2">County</div>
                <div class="col-2">Date and Time</div>
                <div class="col-1">Severity</div>
            </div>

                @foreach (var a in Model.Accidents)
                {
                    <a asp-controller="Home" asp-action="Accident" asp-route-id="@a.Crash_ID">
                        <div class="row body-row">
                            <div class="col-1 body-data truncate-text">@a.Crash_ID</div>
                            <div class="col-4 body-data truncate-text">@a.Main_Road_Name</div>
                            <div class="col-2 body-data truncate-text">@a.City</div>
                            <div class="col-2 body-data truncate-text">@a.County_Name</div>
                            <div class="col-2 body-data truncate-text">@a.Crash_DT</div>
                            <div class="col-1 body-data truncate-text">@a.Crash_Severity_Id</div>
                        </div>
                    </a>
                }

                <div page-model="@Model.PageInfo" page-action="Search" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark"
                        page-classes-enabled="true" class="btn-group pull-right m-1"></div>
        </div>
    </div>
</div>